.ButtonAdd {
    
    width: 60px;
    height: 50px;

    margin: 0 auto;

    background-color: #abff0f;
    border-radius: 50%;

}

.ButtonDelete {

    background-color: #f3ffb5;
    border-radius: 10px;

}