.ButtonNewTask {

    width: clamp(170px, 70%, 245px);
    height: 30px;

    background-color: rgb(255 167 2 / 69%);
    border: none;

    cursor: pointer;

    margin: 0 auto;


}

.ButtonNewTask:hover {

    background-color: rgba(255, 166, 2, 0.966);

}

.closeModal {

    display: flex;
    justify-content: center;
    align-items: center;

    width: clamp(30px, 2vw, 100px);
    height: clamp(30px, 2vw, 100px);

    font-size: clamp(20px, 1.4vw, 100px);
    text-align: center;
    color: rgb(255, 255, 255);

    background-color: #c04b4bbe;
    
    border: none;
    border-radius: 100%;

    cursor: pointer;

    margin: 0 auto;

    position: absolute;
    top: clamp(20px, 15%, 15%);
    right: clamp(10vw, 20vw, 25vw);

}

.closeModal:hover {

    background-color: #c04b4b;

}


.ButtonAdd {
    
    width: clamp(50px, 100px, 150px);
    height: 50px;

    margin: 50px auto;

    background-color: #ffb500b0;
    border: none;

}

.ButtonAdd:hover {

    background-color: #ffb500;
    
}

.ButtonDelete {

    background-color: #ff60609c;
    
    border: 3px solid #74769b;

}

.ButtonDelete:hover {

    background-color: #ff6060;
    

}

.ButtonChange {

    background-color: #e7be00b0;
    border: none;

}

.ButtonChange:hover {

    background-color: #e7bd00c2;

}

.ButtonDelete, .ButtonDelete:hover, .ButtonAdd, .ButtonAdd:hover, .ButtonNewTask, .ButtonNewTask:hover, .closeModal, .closeModal:hover, .ButtonChange, .ButtonChange:hover {

    transition: 0.24s;
    border-radius: 20px;
    color: white;
    cursor: pointer;

}

.page, .page_current {

    width: clamp(35px, 3vw, 200px);
    height: clamp(35px, 3vw, 200px);

    font-size: 1rem;
    text-align: center;

    background-color: #ffb700c2;

    border: none;
    border-radius: 40%;

    transition: 0.3s;


}

.page:hover {

    transition: 0.3s;
    background-color: #ffb700;

}

.page_current {

    background-color: #ffdd0edb;


}
.page_current:hover {

    background-color: #ffdf0e;

}
