.ButtonAdd {
    
    width: clamp(50px, 100px, 150px);
    height: 50px;

    margin: 0 auto;

    background-color: #ffb500b0;
    border-radius: 20px;
    border: none;
    color: white;

    transition: 0.24s;

}

.ButtonAdd:hover {

    background-color: #ffb500;
    transition: 0.24s;

}

.ButtonDelete {

    background-color: #ff60609c;
    color: white;
    border-radius: 10px;
    transition: 0.24s;
    border: 3px solid #74769b;

}

.ButtonDelete:hover {

    background-color: #ff6060;
    transition: 0.24s;

}