.title, .body {

    text-align: center;

    font-size: clamp(0.7rem, 1.3rem, 3rem);

}

.title {

    color: #edbe2c;

}

.body {

    text-align: justify;

}

.requiredValue {

    width: 150px;
    height: 0px;

    margin: 0 auto;

    color: #ff0d0d9c;

}

.hidden {

    display: none;

}

.empty {

    font-size: 50px;
    text-align: center;

}

.loading {

    margin: 0 auto;
    margin-top: 20px;

}

