.title, .body {

    text-align: center;

    font-size: clamp(1rem, 2rem, 3rem);

}

.body {

    color: #edbe2c;
    text-align: justify;

}

.requiredValue {

    width: 150px;
    height: 0px;

    margin: 0 auto;

    color: #ff0d0d9c;

}

.hidden {

    display: none;

}

.empty {

    font-size: 50px;
    text-align: center;

}