@font-face {
    font-family: 'Open-Sans';
    src: url('/src/UI/Font/Open_Sans/static/OpenSans-Regular.ttf');
}

body {

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;    
    
    background-color: #000000d4;

    color: white;

    font-family: 'Open-sans';

}

header {

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    width: 100%;
    height: 100px;

}

h1, h2 {

    text-align: center;
    margin: 0 auto;

}

button {

    cursor: pointer;

}

main {

    display: flex;
    flex-direction: column;

}

textarea {

    font-family: 'Open-sans';

}

.navigation_wrapper {

    width: 100%;

    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    
}

@media (max-width: 450px) {
    
    .navigation_wrapper {

        width: 100px;

        position: relative;
        left: 70vw;

    }

}

nav {

    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    gap: 10px;

    font-size: clamp(1rem, 1.3rem, 1.5rem);

    margin: 20px 10px 20px 0;

}


a {

    color: aqua;
    text-decoration: none;

}

.tasks_column {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    width: clamp(245px, 60vw, 1920px);
    height: 100%;

    margin: 20px auto 0 auto;

}

.inputs {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    width: clamp(245px, 70vw, 90vw);
    height: 450px;

    text-align: center;
    margin: 0 auto;

}

.task {

    display: inline-block;

    width: 100%;
    height: 250px;

    padding: 20px 0;
    margin: 0 auto;

    background-color: #4e5ab294;

    border: 3px solid #5c5e7a;
    border-radius: 30px;
    

}

.task_main_block {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    height: 90%;

    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;

    margin: 0 20px 10px 20px;

}

.new_task_wrapper {

    display: flex;
    justify-content: center;

    width: 100%;

}

.input_block {

    width: clamp(245px, 50vw, 50vw);
    height: 200px;

}


.modal {

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;

    z-index: 10;

    width: 100%;
    height: 100%;

    background-color: rgba(41, 41, 41, 0.9);
    overflow: hidden;

}

.hidden {

    display: none;

}


.theme_sun, .theme_moon {
    
    position: absolute;

    left: 1%;
    top: 2%;

    width: 50px;
    height: 50px;

    background: no-repeat;
    background-position: 0;
    background-size: 100% 100%;

    cursor: pointer;

}

.theme_sun {

    background-image: url('/src/UI/img/theme/sun.png');

}

.theme_moon {

    background-image: url('/src/UI/img/theme/moon.svg');

}


.loading_block {

    width: 50px;
    height: 50px;

    outline-color: #ff000085;
    outline-width: 8px;
    outline-style: dashed;
    border-radius: 50%;

    margin: 0 auto;

    animation: rotate 2.5s infinite alternate;

}



@keyframes rotate {
    
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(720deg) scale(2.5);
    }

}

.buttons_block {

    display: flex;
    justify-content: space-between;

    width: 90%;

    margin: 0 auto 0 auto;
    padding-bottom: 10px;

    border-bottom: 3px solid #f7c2ff85;

}

.pagination_wrapper {
    
    display: flex; 
    flex-wrap: wrap;
    justify-content: center; 
    gap: 20px; 
    width: 70vw; 
    height: 100%;
    margin: 30px auto 0 auto;
    padding-bottom: 30px;

}

.pagination_numbers {

    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    gap: 20px;

}

.checkBox {

    margin: 0;

}

@media (max-width:650px) {

    .theme_sun, .theme_moon {

        width: 35px;
        height: 35px;

    }

}