@font-face {
    font-family: 'Open-Sans';
    src: url('/src/UI/Font/Open_Sans/static/OpenSans-Regular.ttf');
}

body {

    margin: 0;
    padding: 0;

    background-color: #000000d4;

    color: white;

    font-family: 'Open-sans';

}

header {

    display: flex;
    align-items: center;

    width: 100%;
    height: 100px;

}

h1, h2 {

    text-align: center;
    margin: 0 auto;

}

button {

    cursor: pointer;

}

main {

    display: flex;
    flex-direction: column;

}

.tasks_column {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    width: clamp(10vw, 35vw, 50vw);
    height: 100%;

    margin: 20px auto 0 auto;

}

.inputs {

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;

    width: clamp(15vw, 20vw, 50vw);
    height: 450px;
    text-align: center;

    margin: 0 auto;

}

.task {

    display: inline-block;

    width: 100%;
    height: 150px;

    overflow: scroll;
    overflow-x: hidden;

    scrollbar-width: thin;

    padding: 10px;
    margin: 0 auto;

    background-color: #4e5ab294;

    border: 3px solid #5c5e7a;
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    

}

.input_block {

    width: clamp(15vw, 20vw, 50vw);
    height: 200px;

}