.InputTitle, .InputBody {

    text-align: center;

    width:  clamp(245px, 20vw, 50vw);
    height: clamp(10px, 35px, 70px);

    margin: 10px 0;
    background-color: #f3ffb5;
    border-radius: 25px;
    border: none;

}

.InputBody {

    height: clamp(50px, 130px, 170px);

}